<!DOCTYPE>
<html>
<head>
  <title>Grasseh -- <%= content_for(:title) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= content_for(:head) %>

    <%= yield :head %>
    <link rel="icon" href="/logo.png" type="image/png">
    <link rel="icon" href="/logo.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>
<body class="container">
  <div class="row top">
    <div class="header">
    <a href="/">
        <img src="/logo.png" class="logo">
    </a>
  </div>
</div>

  </div>
  <div class="content">
    <br>
    <br>
    <%= yield %>
  </div>
    <div class="footer">
      <span class="helpFooter">&nbsp;</span>Developed by Grasseh/Steve Gagné 2015 - <%= Date.current.year %>
    </div>
</body>
</html>
